# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

.venv/
.env/

# =========================================================
# ENV VARIABLES
# =========================================================

.env
.env.example

# =========================================================
# IDE / EDITOR
# =========================================================

.vscode/
.idea/
*.swp
*.swo

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# FAISS / RAG STORAGE
# =========================================================

faiss.index
docs.pkl

# =========================================================
# UPLOADS / EXTRACTED REPOS
# =========================================================

data/
extracted/
data/
# =========================================================
# BUILD / DIST
# =========================================================

dist/
build/

# =========================================================
# CACHE
# =========================================================

.cache/
.pytest_cache/

# =========================================================
# GRADIO
# =========================================================

gradio_cached_examples/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# COVERAGE
# =========================================================

.coverage
htmlcov/

# =========================================================
# TEMP FILES
# =========================================================

tmp/
temp/

# =========================================================
# NODE
# =========================================================

node_modules/

# =========================================================
# TERRAFORM
# =========================================================

.terraform/
*.tfstate
*.tfstate.backup

# =========================================================
# DOCKER
# =========================================================

*.tar

# =========================================================
# ZIP FILES
# =========================================================

*.zip